div.journal {
  border-bottom: solid #0f3232 1px;
  background-size: cover;
}
li.journal {
  margin: 10px;
  list-style: none;
  border-radius: 5px;
  margin-left: -12pt;
  cursor: pointer;
}
.journal {
  height: 80px;
  background: url('../img/gradient.png') repeat-x bottom, url('../img/tokyo.jpg') center center no-repeat;
  padding: 10px;
}
.journal .meta {
  float: left;
}
.journal .meta .participants {
  display: block;
  margin: 0;
}
.journal .meta .participants li {
  list-style: none;
  float: left;
  margin: 0 5px;
}
.journal .meta .participants li img {
  width: 25px;
  height: 25px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.journal .meta .title {
  color: white;
  font-size: 14pt;
  font-weight: bold;
  display: block;
  margin: 12pt 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.journal .stats {
  float: right;
  display: block;
  color: white;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.description {
  width: 100%;
  height: 200px;
  background: #ced7d7;
  border-bottom: 1px solid #bccbcb;
}
.description p {
  width: 500px;
  font-family: serif;
  display: block;
  background: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -250px;
}
